<h1><%= @restaurant.name %></h1>

Opening_hour: <%= @restaurant.opening_hours %><br>
TEL: <%= @restaurant.tel %><br>
Address: <%= @restaurant.address %>
Discription: <%= @restaurant.description %>

<br>

<%= link_to '回到首頁', admin_restaurants_path %>